

#invest
	display: none
	background-color: $color_accent
	color: #fff

	+bp(s)
		height: auto

	.page__inner
		+bp(s)
			padding-right: 20px
			height: auto

	.page__info
		max-width: 1000px
		padding-right: 40px

		+bp(s)
			margin-top: 80vh
			padding: 20px
			background-color: darken($color_accent, 5%)
			margin-bottom: 80px


	.page__heading
		font-size: 80px
		line-height: 80px

		+bp(m)
			font-size: 60px
			line-height: 60px

		+bp(s)
			font-size: 40px
			line-height: 40px

	.accent
		color: #333

	#gear-1
		width: 100%
		bottom: 0
		left: -200px
		height: 50vh

		img
			height: 50vh
			width: auto
			max-width: inherit
		

		+bp(s)
			left: -200px
			bottom: 20vh

	#gear-2
		width: 100%
		top: 0
		right: -100px
		text-align: right

		img
			height: auto
			width: 50vw

		+bp(s)
			right: -20px
			bottom: 20vh

			img
				width: 70vw

#invest-canvas
	//display: none
	position: absolute
	top: 0
	left: 0

	+bp(s)
		display: none