

#voice
	display: none
	background-color: #333
	color: #fff

	.page__inner
		justify-content: flex-end
		padding-right: 350px

	.page__info
		//height: 600px
		
		.accent
			color: $color_accent
	
	.page__art
		//height: 120vh
		width: 100%
		text-align: right

		img
			width: auto
			height: 110vh

	#scream-1
		top: 20px
		right: -30vh

		//margin-left: -500
		z-index: 1

	#scream-2
		top: 200px
		right: -45vh
		z-index: 200

#voice-canvas
	//display: none
	position: absolute
	top: 0
	left: 0
	





