

#astro
	display: none
	
	.page__inner
		justify-content: flex-end
		padding-right: 300px

	.page__art
		img
			height: 100%
			width: auto
	#astro-1
		right: 100px
		bottom: 0
		height: 50vh
		z-index: 100
	
	#astro-2
		-webkit-transform: rotate(-25deg)
		-moz-transform:    rotate(-25deg)
		-ms-transform:     rotate(-25deg)
		-o-transform:      rotate(-25deg)
		transform:         rotate(-25deg)

		right: 100px
		top: 50vh
		height: 30vh
		margin-top: -24vh
		z-index: 10

	#astro-3
		-webkit-transform: rotate(25deg)
		-moz-transform:    rotate(25deg)
		-ms-transform:     rotate(25deg)
		-o-transform:      rotate(25deg)
		transform:         rotate(25deg)

		right: 50px
		top: 5vh
		height: 30vh
		z-index: 1

#astro-canvas
	//display: none
	position: absolute
	top: 0
	left: 0





		